<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.footer{
    height:50px;
    line-height:50px;
    background:#333;
    color:#fff;
 
    position:absolute;
    bottom:0px;
 
    width:100%; /*biar memenuhi layar*/
}
	</style>
</head>
<body>
	<div class="footer">
	<center>
		ini adalah bagian dari footer
	</center>
	</div>
</body>
</html>